header {
    background-color: #890019;
    height: 80px !important; width: 100%;
}
header .container  {
    height: 100%;
}
header .container .row {
    height: 100%;
}
header .container .row .col-md-12 {
    display: flex; justify-content: center; align-items: center;
}
header .container .row .col-md-12 img {
    height: 60px; width: 100px;
}
header .container .row .col-md-12 p {
    margin-left: auto; margin-bottom: 0;
    font-size: 1.5rem; color: black; font-weight: 600;
}

/* Extra small */
@media (max-width: 575.98px) {
    header .container .row .col-md-12 p {
        font-size: 1.2rem; margin-left: 2rem;
    }
}